streamlit==1.33.0
langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.33
langchain-huggingface==0.0.3
langchain-groq==0.1.4
sentence-transformers==2.6.1
python-dotenv==1.0.1
pypdf==4.2.0
pillow>=10.0.0
